@CHARSET "ISO-8859-1";
/**********************************************************table with ads*/
#adTable {
	height:				100%;
	width:				auto;

	margin: 20px 148px 20px 148px;

	border-collapse:	collapse;
	table-layout:		auto;
	
	
}

#adTable th, td {
	padding:			10px;
}
/**********************************************************ad images*/
.advertisement img {
	float:				left;
	
	width:				auto;
	height:				auto;
    
    min-width:			400px;
    min-height:			400px;
    
    opacity:			0.5;
    filter:				alpha(opacity=50);
    
    transition: 1s;
    
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.advertisement img:hover {
	opacity:			1.0;
    filter:				alpha(opacity=100);
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 0.5;}
}