@CHARSET "ISO-8859-1";
/**********************************************************color reference chart*/
/*
dusty						#96858f
lavender					#6d7993
overcast					#9099a2
paper						#d5d5d5
dark font					#17202a
light font					#f2f3f4
dark transparent			rgba(25, 25, 25, 0.75)
medium transparent			rgba(25, 25, 25, 0.5)
light transparent			rgba(25, 25, 25, 0.25)
blue						#4286f4
*/
/**********************************************************page background and defaults*/
body {
	background-color:		#d5d5d5;
}
#navigationSection {
	background-image:		url(background.jpg);
	background-position:	center center;
	background-repeat:		no-repeat;
	background-size:		cover;	
}
* {
  margin:					0;
  padding:					0;
}
 *:focus {
   outline:					0;
 }
 .wrapper {
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    position: relative;
}





/**********************************************************control bar*/
#controlBar {
	/*background*/
	background-color: rgba(25, 25, 25, 0.75);
	/*location*/
	margin: 0;
    padding: 0;
    /*font*/
    color: white;
	font-family: verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 0px;
	line-height: 20px;
	/*other*/
	overflow: hidden;
    list-style-type: none;
}
#controlBar li a {
	/*location*/
    display: inline-block;
    text-align: center;
    padding: 8px;
    /*color*/
    color: #f2f3f4;
    /*other*/
    text-decoration: none;
}
#controlBar li a:hover {
    background-color: #4286f4;
}
/**********************************************************control bar item*/
.controlItem {
    float: right;
}





/**********************************************************search bar*/
#searchBar {
	border:					none;
	box-sizing:				border-box;
	white-space:nowrap;
	height:100%;
	margin: 20% 10% 0% 10%;
	
	width:100%;
	/*margin: 0;*/
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
#searchBar li a {
	
	float: left;
	display: inline-block;
	
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
/**********************************************************all search bar components*/
#categorySelector, #searchField, #searchButton {
	padding: 24px;
	
	text-align: center;
	box-sizing:				border-box;
	box-shadow: none;
	background-color: rgba(25, 25, 25, 0.5);
	overflow: hidden;
    outline: none;
    border: none;
    resize:					none;
    
	/*font*/
    color: #f2f3f4;
	font-family: verdana, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 0px;
	line-height: 20px;
	
	white-space:nowrap;
	display:inline-block;
	text-decoration: none;
}
#categorySelector:focus, #searchField:focus, #searchButton:focus, #categorySelector:hover, #searchField:hover, #searchButton:hover {
	background-color: rgba(25, 25, 25, 0.75);
}
/**********************************************************search bar item*/
.searchItem {
	/*resize:					none;*/
	float: left;
	    /*width: 25%;*/
}
/**********************************************************control logo*/
#logo {
}
/**********************************************************selection box*/
#categorySelector {
	padding-bottom: 23px;
	
}
/**********************************************************search input field*/
#searchField {
	
}
/**********************************************************search button*/
#searchButton {
}


/**********************************************************mutable section*/
#mainSection {
	border-collapse:		collapse;
	table-layout:			auto;
    width:					100%;
    /* margin: 128px 144px 128px 144px;*/
}
#mainSection .absorbing-column {
    width:					100%;
}
#mainSection th, td {
    padding: 20px;
}
.mainSectionItem img {
	float:					left;
	height:					auto;
    width:					100%;
}

/*additional stuff*/
    /*background-image:		url(searchIcon.png);
    background-position:	8px 8px;
    background-repeat:		no-repeat;
    background-size:		32px 32px;*/

